#background
{
	opacity: 0.1;
	position: fixed;
}

.head1, .head3
{
	margin-top: auto;
}

.navitem
{
	margin: 0px 10px 0px 10px;
}

#wrapper
{
	/*height: 1024px;*/
	background: -ms-linear-gradient(0deg, lightblue, black);
	background: -moz-linear-gradient(0deg, lightblue, black);
	background: -webkit-linear-gradient(0deg, lightblue, black);
	background: -o-linear-gradient(0deg, lightblue, black);
	background: linear-gradient(0deg, lightblue, black);
	color: white;
	padding-left: 0px;
}

.sidebar-nav
{
	list-style-type: none;
	padding-left: 0px;
}