#background
{
	opacity: 0.25;
	position: fixed;
}

.head1, .head3
{
	margin-top: auto;
}

.navitem
{
	margin: 0px 10px 0px 10px;
}

.topnav
{
	padding-left: 0px;
}

.topnav li
{
	display: inline;
}

#wrapper
{
	/*height: 1024px !important;*/
	background: -ms-linear-gradient(0deg, #007, black);
	background: -moz-linear-gradient(0deg, #007, black);
	background: -webkit-linear-gradient(0deg, #007, black);
	background: -o-linear-gradient(0deg, #007, black);
	background: linear-gradient(0deg, #007, black);
	color: white;
	padding-left: 0px;
}

#page-content-wrapper
{
	position: relative;
	top: -15px;
}

.sidebar-nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav
{
	text-indent: 20px;
	line-height: 40px;
}

.temphdr
{
	height: 15px;
}