.container-fluid
{
	padding: 0px !important;
}

#gradfill
{
	opacity: 0.5;
	position: absolute;
	width: 100%;
	height: 100%;
}

@media only screen and (orientation: portrait)
{
	#wrapper
	{
		background: url("../images/background_sml.jpg");
	}
}

@media only screen and (orientation: landscape)
{
	#wrapper
	{
		background: url("../images/background.jpg");
	}
}

@media only screen and (min-width: 769px)
{
	#wrapper
	{
		background-size: cover;
		background-attachment: fixed;		
	}
}

@media only screen and (min-width: 768px)
{
	#profilePic
	{
		padding-bottom: 15px;
	}
}

@media only screen and (max-width: 768px)
{
	#wrapper
	{
		background-size: 100% auto;
	}
}

@media only screen and (max-width: 767px)
{
	#social_mob
	{
		padding: 0px 15px 0px 15px;
	}
	#burger
	{
		float: right;
	}
	#page-content-wrapper
	{
		width: 95%;
	}
}

#wrapper
{
	color: white;
	padding: 0px;
}

@media only screen and (min-width: 992px)
{
	#profilePic, #sidebar-wrapper
	{
		width: 14.28571429%;
	}
}

@media only screen and (min-width: 1200px)
{
	#profilePic, #sidebar-wrapper
	{
		width: 12.5%;
	}
}

.head2, .head3
{
	margin: auto;
}

.navitem
{
	margin: 0px 10px 0px 10px;
}

#burger_2y
{
	top: -8px;
}

#burger_2y, #filling_2y
{
	position: relative;
	float: right;
	z-index: 2;	
}

#filling_2y
{
	padding-bottom: 30px;
}

.btn
{
	margin: auto;
	white-space: normal !important;
}

@media only screen and (max-width: 991px)
{
	.list-inline>li
	{
		padding: 0px !important;
	}
}

@media only screen and (min-width: 992px)
{
	.top
	{
		padding: 10px 16px !important;
		font-size: 18px !important;
		line-height: 1.33333333 !important;
		border-radius: 6px !important;
	}
}

.left
{
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: right !important;
}

#page-content-wrapper
{
	top: -55px;
}

@media only screen and (min-width: 768px)
{
	#page-content-wrapper
	{
		top: -15px;
	}
}

#sidebar-wrapper
{
	padding: 0px;
}

.temphdr
{
	height: 15px;
}

.sections
{
	position: absolute;
	top: 0px;
	width: 100%;
}

.largest
{
	position: static;
}

.screenshot-container, .astropic-container
{
	padding-bottom: 30px;
	width: 100%;
}

.screenshot, .thumb, .astropic
{
	width: 100%;
}

@media only screen and (max-width: 479px)
{
	.screenshot-container, .astropic-container
	{
		float: left;
		width: 50%;
	}
	.musicItem, .comicItem
	{
		float: left;
		width: 100%;
	}
	.bandsocial, .venuesocial
	{
		float: left;
		width: 50%;
	}
	.bandwiki, .venuelink
	{
		float: left;
		width: 50%;
	}

}

@media only screen and (min-width: 480px) and (max-width: 767px)
{
	.screenshot-container, .astropic-container
	{
		float: left;
		width: 33.33333333%;
	}
	.musicItem, .comicItem
	{
		float: left;
		width: 50%;
	}
	.bandsocial, .venuesocial
	{
		float: left;
		width: 50%;
	}
	.bandwiki, .venuelink
	{
		float: left;
		width: 50%;
	}
}

.ui-selectmenu-button
{
	background: transparent !important;
}

#viewinterest-button
{
	float: left;
	width: 150px !important;	
}

#viewperiod-button
{
	float: right;
	width: 135px !important;	
}

#boincsections-button, #aboutsections-button
{
	float: left;
	width: 240px !important;
}

/*#viewperiod-menu, #viewinterest-menu
{
	background: transparent;
	color: #1c94c4;
}
*/
.ui-menu-item
{
	background: black !important;
	color: #1c94c4 !important;
}

.ui-menu-item:hover
{
	background: yellow !important;
	color: black !important;
}

.musicItem a, .comicItem a
{
	color: yellow;
}

.musicItem:hover, .comicItem:hover
{
	background: #55acee;
}

.ui-tabs-vertical
{
	width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav
{
	float: left;
	/*width: 12em;*/
}

.ui-tabs-vertical .ui-tabs-nav li
{
	clear: left;
	width: 100%;
	padding: 0px !important;
	border: 0px !important;
	margin: 0px !important;
}

.ui-tabs-vertical .ui-tabs-nav li a
{
	display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active
{
	/*padding-bottom: 0;*/
	/*padding-right: .1em;*/
	/*border-right-width: 1px;*/
}

.ui-tabs-vertical .ui-tabs-panel
{
/*	padding: 1em;
	float: right;
	width: 40em;*/
	float: left;
}

#boinctabs, #abouttabs
{
	background: transparent !important;
}

.ui-widget-content
{
	border:	0px !important;
	color: white !important;
}

.ui-widget-header
{
	border: 0px !important;
	background: transparent !important;
}

.ui-state-default
{
	background: transparent !important;
	/*border: 0px !important;*/
}

.ui-state-hover
{
	/*background: yellow !important;*/
	/*color: black !important;*/
}

.ui-corner-left a
{
	width: 100%;
	text-align: right;
	border-radius: 4px;
	/*color: white;*/
}

@media only screen and (min-width: 768px)
{
	.ui-tabs-nav
	{
		width: 27.5% !important;
	}
	.ui-tabs-panel
	{
		width: 72.5% !important;
	}
}

@media only screen and (min-width: 992px)
{
	.ui-tabs-nav
	{
		width: 22.5% !important;
	}
	.ui-tabs-panel
	{
		width: 77.5% !important;
	}
}

@media only screen and (min-width: 1200px)
{
	.ui-tabs-nav
	{
		width: 16.66666666% !important;
	}
	.ui-tabs-panel
	{
		width: 83.33333333% !important;
	}
}

#boinc_acronym
{
	border: thin yellow solid;
	float: left;
	margin: 0px 10px 10px 0px;
	padding: 5px 5px 0px 5px;
}