table
{
	color: black;
}

#btn
{
	color: black;
}

.pName
{
	color: white;
}

table.icons
{
	border:medium blue solid;
	font-size:x-large;
}

table.icons td
{
	width:60px;
	height:60px;
	border:thin blue solid;
	text-align: center;
}

table.grid td
{
	border:thin blue solid;
	text-align: center;
	width:60px;
	height:60px;
}

table.grid
{
	border:medium blue solid;
	border-collapse:collapse;
	font-size:x-large;
}

#btn
{
	background: red;
	font-size: small;
	font-weight: bold;
}