#welcome
{
	margin-top: auto !important; /*WHY CAN I NOT OVERRIDE BOOTSTRAP!?!?!?*/
}

#wrapper
{
	/*height: 1024px;*/
	background: -ms-linear-gradient(0deg, lightblue, black);
	background: -moz-linear-gradient(0deg, lightblue, black);
	background: -webkit-linear-gradient(0deg, lightblue, black);
	background: -o-linear-gradient(0deg, lightblue, black);
	background: linear-gradient(0deg, lightblue, black);
	color: white;
}

